# Environment variables for the MS COCO classification challenge
DATA_ROOT=

# Output directory for the results
OUTPUT_DIR=

# optionnal, if you want to use a specific device (cpu, cuda, mps, etc.)
DEVICE=

# optionnal, if you want to output the submission in a specific path, otherwise it will be submission.json
JSON_PATH=